body {
  color: rgb(0, 50, 50);
  background: rgba(250, 250, 210, 0.1);
  font-family: 'Merriweather', serif;
}

footer {
  background: rgba(0, 50, 50, 0.03);
  margin-top: 50px;
}

header > h2,
main > h2,
main > p,
footer > p {
  text-align: center;
}

header > h2 {
  color: white;
  background: rgb(0, 50, 50);
  margin: 0;
  padding: 20px 0px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3em;
}

main {
  margin: 0px 15px;
}

main > h2 {
  margin-bottom: 0px;
}

main > p {
  margin: 10px 0px 2px 0px;
  color: lightgray;
  border-bottom: 4px solid rgb(0, 50, 50);
  padding-bottom: 35px;
}

fieldset {
  border-style: none;
  padding: 0;
  margin: 0;
}

label {
  margin-bottom: 10px;
}

input,
select,
textarea {
  background: rgb(236, 236, 236);
  margin-bottom: 15px;
  border-style: none;
  border-radius: 5px;
  padding: 20px;
  transition: background .5s;
}

input:focus,
select:focus,
textarea:focus {
  background: white;
}

textarea {
  height: 70px;
}

button {
  color: white;
  background: rgb(0, 180, 180);
  padding: 15px;
  border-style: none;  
  border-radius: 5px;
}

footer > p {
  margin: 30px;
  color: rgb(200, 200, 200);
  font-style: italic;
  font-size: .9em;
}

.contact-fieldset,
.news-fieldset {
  border-top: 2px solid rgb(0, 50, 50);
  padding-top: 20px;
  padding-bottom: 30px;
}

.contact-flex-container > input:last-child {
  width: 40%;
}

::placeholder {
  color: rgb(200, 200, 200);
  text-align: right;
  font-style: italic;
  font-size: .8em;
  padding-right: 5px;
}

textarea::placeholder {
  text-align: left;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

  main {
    margin: 40px 100px 0px 100px;
  }

  textarea {
    width: 528px;
  }

  button {
    width: 568px;
  }

  .contact-flex-item > input {
    width: 375px;
  }

  .contact-flex-item > select {
    width: 415px;
  }

  .contact-flex-container .contact-flex-item:last-child > input,
  .contact-flex-item > label {
    width: 150px;
  }

}